<center>
	<h1>Surfspot</h1>
	<h2>What's your favorite surf spot?</h2>
</center>
<br />

<% @spots.each do |spot| %>
	<div class="booyah-box col-xs-10 col-xs-offset-1">
		<h1><%= spot.name %></h1>
		<i><%= spot.location %></i><br /><br />
		<p><%= spot.description %></p><br />
	</div>
<% end %>